*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #FCF7F8;
  }
 
 /* Navigation Section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

nav ul {
    display: flex;
    order: 2;
}

nav ul a {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 2rem;

}

.cta {
    background-color: #FFC107;
    border: none;
    padding: 0.5em 1.5em;
    font-size: 1em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;

}


 /* Hero Section */

.bg-image{
    background-image: url('../img/electrician-hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d9d9da;
}

.hero{
    padding-top: 200px;
    padding-bottom:200px;
    width: 100%;
    margin-left: 6rem;
    margin-right: 12rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

 .hero-image {
  width: 100%;
  height: 100%;
  
} 
  .hero-text {
    width: 100%;
  }
  
  .hero-text h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    color: #8b4513;
  }
  
  .hero-text p {
    font-size: 1.4em;
    margin-bottom: 1em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  
  .hero-text button {
    background-color: #FFC107;
    color: #000;
    border: none;
    padding: 0.8em 1.5em;
    font-size: 1em;
    margin: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .hero-text button:hover {
    background-color: #FFA000;
  }
  
  /* Services Section */
  
  .services {
    text-align: center;
    padding: 2em 1em;
    background-color: #CED3DC;
  }
  
  /* Service Cards Layout */
  .service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .service-card {
    width: 22%;
    box-shadow: 0 4px 6px hsl(0, 0%, 0%, 0.1);
    padding: 1em;
    margin: 1em;
    background-color: white;
    border-radius: 5px;
  }
  
  .service-card img {
    width: 50px;
    height: 50px;
  }
  
  /* Testimonials */
  .testimonials {
    padding: 2em 1em;
    background-color: #ABA9C3;
  }
  
  .portfolio {
    padding: 2em 1em;
    background-color: #CED3DC;
  }
  
  /* Contact */
  .contact {
    padding: 2em 1em;
    background-color: #5B616A;
    color: white;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact form label,
  .contact form input,
  .contact form textarea,
  .contact form button {
    margin: 0.5em 0;
  }
  
  #map {
    width: 100%;
    height: 300px;
    background-color: grey;
  }
  